@import "libs/normalize";
@import "variables";

* {
  box-sizing: border-box;
}

a {
  color: #316DCA;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
    color: #539BF5;
  }
}


@import "layout";
@import "footer";
@import "sidebar";
@import "article";
@import "post-list";
@import "monochrome";
@import "highlight";
@import "pagination";
@import "archive";
@import "mobile-header";
@import "third-party";
