.post-list {
  position: relative;
  padding-left: 0;
  .post-list-item {
    margin-bottom: 40px;
    list-style: none;
    border-left: 5px solid #79a617;
  }
  .article-info {
    font-size: 13px;
  }
  .article-entry {
    font-size: 14px;
  }
}


