<div class="main-footer">
  <a href="https://7v6sxhxunb.execute-api.us-east-1.amazonaws.com/ProdStage" rel="nofollow" style="display: none" aria-hidden="true">honeypot link</a>
  <% if (theme.copyright) { %>
    <%- theme.copyright %>
  <% } else { %>
    © <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
</div>
